body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    color: white;
    font-family: 'RoundedFixedsys';
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.box-1{
    font-size: 80px;

}

.box-2{
    font-size: 30px;
}