body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    color: white;
    font-family: 'RoundedFixedsys';
    display: flex; 

    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

header{
    display: flex;
    background-color: yellow;
    font-size: 80px;
    padding: 20px;
} 

main{
    flex: 1;
}

footer{
    display: flex;
    background-color: green;
    font-size: 30px;
    padding: 10px;
}

.title-txt{
    font-size: 80px;
}
.menu-item{
    font-size: 30px;
}

.menu-item.select{
    background-color: orange;
}